
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@*<script language="JavaScript">
        var password;
        var pass1 = "admin";
        password = prompt('Nhập mật khẩu để tiếp tục', ' ');
        if (password == pass1)
            alert('Xin chào quản trị viên , Nhấn ok để tiếp tục.');
        else {
            window.location.href="/Home/Trangchu"
        }

    </script>*@

<link href="~/Content/SPStyle.css" rel="stylesheet" />
<h2 style="margin-top:50px;color:darkred;">TRANG QUẢN TRỊ</h2>
<br />
<table align="center">
    <tr>
        <th> <h2 style="font-family:'Berlin Sans FB'"> CATEGORY </h2> </th>
    </tr>
    <tr>

        <th>
            <a href="/Categories/Index"><input type="submit" value="Điều chỉnh category" /> </a>

        </th>
    </tr>

</table>
<table align="center" style="margin-top:50px">
    <tr>
        <th> <h2 style="font-family: 'Berlin Sans FB'"> PRODUCT </h2> </th>
    </tr>
    <tr>
        <th>
            <a href="/Product/Danhsachsp"><input type="submit" value="Điều chỉnh sản phẩm" /></a>
        </th>
    </tr>

</table>

@*<h2>Chat</h2>
    <div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion">
        </ul>
    </div>*@
@section scripts {
    <!-- Script cho thông báo đơn hàng mới -->
    <script>
        $(function () {
            // Kết nối tới OrderHub
            var orderHub = $.connection.orderHub;

            

            // Lắng nghe sự kiện nhận thông báo đơn hàng mới
            orderHub.client.receiveOrderNotification = function () {
                
                // Hiển thị thông báo đơn hàng mới
                alert("Có đơn hàng mới!"); // Bạn có thể thay thế bằng thông báo khác nếu cần
            };

            // Kết nối SignalR
            $.connection.hub.start().done(function () {
                console.log("Đã kết nối với OrderHub!");
            }).fail(function (error) {
                console.log("Không thể kết nối với OrderHub: " + error);
            });
        });
    </script>
}
