

a {
    color: black; /* Thay đổi màu chữ thành màu đen */
    text-decoration: none; /* Loại bỏ gạch chân của link */
}

    a:hover {
        color: #333; /* Màu chữ khi hover, có thể tùy chỉnh theo ý muốn */
        text-decoration: none; /* Thêm gạch chân khi hover nếu cần */
    }

    a:visited {
        color: black; /* Màu chữ cho các liên kết đã thăm */
    }

    a:active {
        color: black; /* Màu chữ cho các liên kết đang được nhấp */
    }



.product-box {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 0px;
    overflow: hidden;
    
    margin-bottom: 20px;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    height: 400px; /* Chiều cao cố định của hộp sản phẩm */
}

    .product-box img {
        border-radius: 0px;
        width: 100%;
        height: 250px; /* Chiều cao của hình ảnh chính và phụ */
        
        transition: opacity 0.5s ease; /* Hiệu ứng chuyển từ từ */
    }

.main-image {
    z-index: 1; /* Đảm bảo ảnh chính luôn nằm trên ảnh phụ */
    border-radius: 0px;
}

.second-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    opacity: 0; /* Ẩn ảnh phụ ban đầu */
    z-index: 0; /* Đặt thấp hơn ảnh chính */
    transition: opacity 0.5s ease; /* Hiệu ứng chuyển từ từ */
}

.product-box:hover .second-image {
    opacity: 1; /* Ảnh phụ hiện ra khi hover */
}

.product-name {
    font-size: 15px;
    text-align: left; /* Căn trái tên sản phẩm */
    margin-top: 10px; /* Đặt khoảng cách từ trên xuống */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn hiển thị 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị "..." khi tràn văn bản */
}

.price-pro {
    color: #f94c43;
    text-align: left; /* Căn trái giá sản phẩm */
    margin-top: 5px; /* Đặt khoảng cách từ trên xuống */
}


