body {
    background-image: url('Images/loginbd.png');
}



h2 {
    margin-top: 10px;
}

.center {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    /*border: 2px solid black;*/
    text-align: center
}





    .center h1 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }





    .center form {
        padding: 0 40px;
        box-sizing: border-box;
    }

.form-group label {
    position: absolute;
    top: -30%;
    left: 5px;
    color: darkgray;
    transform: translateY(-65%);
    font-size: 15px;
    /*pointer-events: none;*/
    transition: .5s;
}

.form-group {
    position: relative;
    /*border-bottom: 2px solid silver;*/
    margin: 30px 0;
}

.form-groud input {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -50px;
    height: 40px;
    font-size: 16px;
    background-color: aqua;
    border: none;
    outline: none;
}
