
@{
    Layout = "~/Views/Shared/Mainlayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body style="text-align:center">
    <div style="margin-top:100px" class="container">



        
        <table>
            <tr>
                <img style="width:50%;margin-left:10px ;" src="~/Content/Trangtri/checkoutsuc.png" alt="">
            </tr>
            <tr>
                <h3 style="font-family:Bahnschrift;margin-left:50px">Đơn đặt hàng của bạn đã được gửi..</h3>
            </tr>
            <tr>
                <h3 style="font-family:Bahnschrift;font-size:20 px;margin-left:50px">Nhân viên MeDECOR sẽ có cuộc gọi đến bạn để xác nhận đơn hàng sau ít phút.</h3>
            </tr>
            <tr>
                <a style="margin-left: 20px" href="@Url.Action("Trangchu","Home")">
                    <button class="btn btn-primary btn-md">TÔI ĐẪ HIỂU</button>
                </a>
            </tr>

        </table>

    </div>






</html>
