
@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<h2 style="font-family: Bahnschrift; padding-top: 50px">
    Dịch Vụ
</h2>
<h4 class="hello" style="font-family:Bahnschrift">
    THIẾT KẾ NỘI THẤT
</h4>
<h3 class="tieude">
    Những công trình được thiết kế bởi NTK Nội thất Quách Thái Công
    luôn tạo nên sự khác biệt bởi chuyên môn và tính thẩm mỹ độc đáo.
    Dựa trên yêu cầu và sở thích của khách hàng, Thái Công tư vấn ý tưởng
    nội thất, phân bổ mặt bằng, ánh sáng, trần-tường-sàn, lựa chọn nội thất,
    màu sắc, chất liệu, đồ trang trí cho toàn công trình. Thái Công trình bày ý tưởng
    và bảng vẽ 3D để chủ đầu tư hiểu được chi tiết công trình. Thái Công trực tiếp sắp xếp
    đồ nội thất, trang trí đồ décor như gương, tranh, ảnh, bình hoa, khung hình, v.v…
    tạo thành một tổng thể hoàn chỉnh cho công trình.
</h3>
<br />
<div>
    <ul style="text-align:left">
        <h2 style="font-family:Bahnschrift">Chi tiết dịch vụ</h2>
        <li>Đưa ra ý tưởng tổng thể.</li>
        <li>Mặt bằng công năng sử dụng.</li>
        <li>Mặt bằng sắp xếp nội thất (bản vẽ 2D).</li>
        <li>Thiết kế trần-tường-sàn, chỉ tường.</li>
        <li>Thiết kế ý tưởng ánh sáng.</li>
        <li>Thiết kế hệ thống cửa, tủ chìm</li>
    </ul>
</div>

  

<div id="content">
    <div id="about">
        <div class="picture">

            <img class="picture-img" src="~/Content/Images/nha-MsLinh_26-570x430.jpg" alt="picture" />
            <h1  style="font-family:Bahnschrift" class="picture-name">Căn hộ của Ms.Linh-Q7</h1>
            <p class="show">Một trong những căn hộ đẹp nhất chung cư.</p>
        </div>

        <div class="picture">

            <img class="picture-img" src="~/Content/Images/nha-MrNam_29-570x430.jpg" alt="picture" />
            <h1  style="font-family:Bahnschrift" class="picture-name">Căn Hộ của Mr.Nam-Q4</h1>
            <p class="show"> Công trình một vẻ đẹp vượt thời gian.</p>
        </div>

        <div class="picture">

            <img class="picture-img" src="~/Content/Images/2Luc-570x430.jpg" alt="picture" />
            <h1  style="font-family:Bahnschrift" class="picture-name">Công trình Gò vấp-GV</h1>
            <p class="show">Công trình ảnh hưởng để quận Gò Vấp .</p>
        </div>

        <div class="picture">


            <img class="picture-img" src="~/Content/Images/c4_ZHYF.jpeg" alt="picture" />
            <h1  style="font-family:Bahnschrift" class="picture-name">Villa Nha Trang - Khánh Hòa </h1>
            <p class="show">Công trình Villa bậc nhất Khánh Hòa.</p>
        </div>
    </div>
</div>
<br />
<footer>
    <div id="footer">
        <table>
            <tr>
                <th>
                    <div class="text" style="color:black; ">


                        <h1 class="contact-1">STORE-Thảo Điền-TP.HCM</h1>
                        <h2 class="contact-phone">0988587865</h2>
                        <h2 class="contact-phone">232 A1-Nguyễn Văn Hưởng </h2>
                    </div>
                </th>
                <th style="padding-left:300px">
                    <div class="text" style=" color: black;">
                        <h1 class="contact">STORE-Q1-TP.HCM</h1>
                        <h2 class="contact-phone">089968898797</h2>
                        <h2 class="contact-phone">167-Nguyễn Cư Trinh </h2>
                    </div>

                </th>
            </tr>
            <br />
            <tr>
                <th>
                    <div class="text" style=" color: black;  ">
                        <h1 class="contact">STORE-Đống Đa-Hà Nội</h1>
                        <h2 class="contact-phone">2312321321321</h2>
                        <h2 class="contact-phone">245-Đê La Thành</h2>
                    </div>
                </th>
                <th style="padding-left:300px">
                    <div class="text" style=" color: black ;">
                        <h1 class="contact">STORE-Paris-Pháp</h1>
                        <h2 class="contact-phone">07982645453435</h2>
                        <h2 class="contact-phone">68-Rue Jean</h2>

                    </div>
                </th>
            </tr>
        </table>
    </div>
</footer>
<style>
    body {
        text-align: center;
        margin-top: 30px;
    }

    #footer {
        width: 100%;
        border-top: 1px groove #999999;
        color: aliceblue;
        font-size: 20px;
        float: left;
    }

        #footer .text {
            text-align: center;
        }

        #footer .contact-phone {
            opacity: 0.6;
        }
    .hello {
        text-align:center;
        font-size: 50px;
    }

    .tieude {
        text-align: center;
    }
</style>


