
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<link href="~/Content/StyleGioiThieu.css" rel="stylesheet" />

<h4 class="hello" style="font-family:Bahnschrift; padding-top: 50px;">
    Giới Thiệu
</h4>
<br />
<div class="about-intro-sec sec pt-0">
    <div class="container">
        <div class="columns" style="width:1300PX">
            <div class="col-md-8" style="text-align:left;width:740px" >
                <h2 class="main-title" style="font-family:Bahnschrift">THÔNG ĐIỆP TỪ CEO CÔNG TY MEDECOR TẠI PHÁP </h2>
                <div class="mona-content" style="font-family:Bahnschrift;font-size:15px">
                    <p><em>Medecor&trade; là một trong những công ty nội thất có tiếng tại Paris, có lịch sử hơn nửa thế kỷ tồn tại và phát triển.</em></p>



                    <p><em>Là người đi đầu trong công nghệ đồ gỗ nội thất, Medecor&trade; luôn mang đến cho Quý Khách Hàng một không gian nhà ở khỏe mạnh,một cuộc sống tiện nghi và hạnh phúc.</em></p>



                    <p><em>Thiên nhiên và con người là những triết lý kinh doanh cốt lõi của Medecor&trade;, vì thế định hướng thiết kế thẩm mỹ phù hợp với môi trường và mang tính thực tiễn cao là một trong những yếu tố quan trọng nhất trong công nghệ sản xuất của chúng tôi.</em></p>



                    <p><em>Medecor&trade; luôn mong muốn vươn ra khỏi thị trường Pháp và Việt Nam để cung cấp cho thị trường toàn cầu một thương hiệu nội thất tốt nhất.</em></p>



                    <p><em>Việt Nam là một thị trường đầy tiềm năng và luôn là ưu tiên hàng đầu của chúng tôi.</em></p>



                    <p><em>Trân trọng cám ơn.</em></p>
                </div>
            </div>
            <div class="col-md-4" style="padding-right:200px">
                <div class="full-img">
                    <img width="355" height="512  " src="~/Content/ceo.jpg"  />
                        
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />

      <div class="about-intro-sec sec pt-0">
          <div class="container">
              <div class="col-md-4">
                  <div class="full-img">
                      <img width="400" height="600  " src="~/Content/Trangtri/bienqcvin.jpg" />

                  </div>
              </div>
              <div class="columns" style="width:1300PX">
                  <div class="col-md-8" style="text-align:left;width:740px;padding-left:130px">
                      <h2 class="main-title" style="font-family:Bahnschrift">MỘT CUỘC HÀNH TRÌNH DÀI </h2>
                      <div class="mona-content" style="font-family:Bahnschrift;font-size:15px">
                          <p><em>Medecor&trade; được thành lập vào năm 1960 tại Sài Gòn bởi một nhóm sinh viên Việt Nam với đam mê về kiến trúc tân cổ điển.  </em></p>
                          <p><em>Gần một thế kỷ hiện diện của người Pháp ở Việt Nam (1858-1954) đã đặt một nét đậm ảnh hưởng tới kiến trúc Việt Nam.</em></p>


                          <p><em>Hiện nay trong thời ký hội nhập, pháp triển, phong cách Pháp đã được cách tân và biến đổi khá nhiều để phù hợp với nhu cầu sử dụng của người Việt.</em></p>

                          <p><em>1965: Cửa hàng đầu tiên tại Sài Gòn.</em></p>
                          <p><em>1970: Cửa hàng thứ hai tại Hà Nội.</em></p>
                          <p><em>1973: Cửa hàng đầu tiên ở nước ngoài tại Paris,Thủ đô nước Pháp.</em></p>
                          <br />
                          <p><em>Hiện tại Medecor có 5 Showroom tại Việt Nam cùng nhiều chi nhánh trong và ngoài nước.  </em></p>
                          
                      </div>
                      
                  </div>

              </div>
          </div>
      </div>

<br /><br /><br />


<footer>
<div id="footer" style=" background: url('vai.jpg')">
    <table>
        <tr>
            <th>
                <div class="text" style="color:black; ">


                    <h1 class="contact-1">STORE-Thảo Điền-TP.HCM</h1>
                    <h2 class="contact-phone">0988587865</h2>
                    <h2 class="contact-phone">232 A1-Nguyễn Văn Hưởng </h2>
                </div>
            </th>
            <th style="padding-left:300px">
                <div class="text" style=" color: black;">
                    <h1 class="contact">STORE-Q1-TP.HCM</h1>
                    <h2 class="contact-phone">089968898797</h2>
                    <h2 class="contact-phone">167-Nguyễn Cư Trinh </h2>
                </div>

            </th>
        </tr>
        <br />
        <tr>
            <th>
                <div class="text" style=" color: black;  ">
                    <h1 class="contact">STORE-Đống Đa-Hà Nội</h1>
                    <h2 class="contact-phone">2312321321321</h2>
                    <h2 class="contact-phone">245-Đê La Thành</h2>
                </div>
            </th>
            <th style="padding-left:300px">
                <div class="text" style=" color: black ;">
                    <h1 class="contact">STORE-Paris-Pháp</h1>
                    <h2 class="contact-phone">07982645453435</h2>
                    <h2 class="contact-phone">68-Rue Jean</h2>

                </div>
            </th>
        </tr>
    </table>
</div>
</footer>
<style>
 

    #footer {
        width: 100%;
        border-top: 1px groove #999999;
        color: aliceblue;
        font-size: 20px;
        float: left;
    }

        #footer .text {
            text-align: center;
        }

        #footer .contact-phone {
            opacity: 0.6;
        }
</style>
