@{ ViewBag.Title = "LienHe";
                Layout = "~/Views/Shared/MainLayout.cshtml"; }


<script src="~/Content/fontawesome/all.js"></script>
<style>
    .contact {
        font-size: 20px;
    }
</style>
<div class="container" style="text-align:center">
    <div class="show" style="padding-top:60px; line-height: 30px">
        <h1 style="margin: 30px; font-size:50px">LIÊN HỆ</h1>
        <p>
            <b class="contact">
                TRỰC TIẾP
            </b>
            <br />
            MR YVES HUY PHAN
            <br />
            T: +84 914 93 88 44
            <br />
            E: BUIDUCTHINH2612@GMAIL.COM
            <br />
            ĐẶT LỊCH THIẾT KẾ


            <hr />
        </p>
        <p>
            <b class="contact">
                SHOWROOM
                & VĂN PHÒNG
            </b>
            <br />
            215A1 NGUYỄN VĂN HƯỞNG,
            <br />
            THẢO ĐIỀN, HCM, VIỆT NAM
            <br />
            T: 028 38989818
            <br />
            9:00-21:00
            <hr />
        </p>
        <p>
            <b class="contact">
                SOCIAL
            </b>
            <br />
            <a href="https://www.facebook.com/minhkhoictb" style="color:white">FACEBOOK</a>
            <br />
            TIKTOK
            <br />
            <a href="https://www.youtube.com/ThaiCongTV" style="color:white">YOUTUBE</a>
            <br />
            INSTAGRAM
            <hr />
        </p>
        <p>
            <b class="contact">
                EMAIL
            </b>
            <br />
            TRUYỀN THÔNG
            <br />
            PHÁT TRIỂN KINH DOANH
            <br />
            TUYỂN DỤNG
            <hr />
        </p>
    </div>
    <div class="footer" style="opacity:0.6">
        <h3> <h4>Copyright © 2022 MeDECOR Interior Design. All Rights Reserved. </h4> Policy | Data Privacy | Sitemap</h3>
    </div>
</div>